.scoreSummaryContainer {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  flex-basis: 500px;
  padding: 10px 10px 5px 10px;
  margin: 10px;
  background-color: #9c0000;
  border-radius: 5px;
}

.scoreSummaryHeader {
  font-weight: bold;
  margin-left: 2px;
  font-size: 1.25rem;
}

.scoreSummaryInner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0 5px 0;
  padding: 5px;
  background-color: white;
  flex: 1;
  border-radius: 5px;
}

.scoreSummaryNumber {
  color: #373a36;
  font-size: 6rem;
  font-weight: bold;
}

.scoreSummaryText {
  color: #373a36;
  font-weight: bold;
}
