#hamburgerMenu {
  color: #373a36;
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 700px) {
  #hamburgerMenu {
    display: inline-block;
  }
}
