nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  flex-basis: 240px;
  background-color: #f9f9f9;
  padding: 30px 10px;
}

.navLink {
  padding: 5px;
  margin: 10px 0;
  color: #373a36;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #f9f9f9;
}

.navLink a:link {
  color: #373a36;
  text-decoration: none;
}

.navLink a:visited {
  color: #373a36;
  text-decoration: none;
}

.navLink:hover {
  background-color: #ffffff;
  opacity: 0.9;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  text-decoration: none;
}

.navLink:active {
  opacity: 1;
}

.navIcon {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1000px) {
  .navText {
    display: none;
  }

  nav {
    flex-basis: 120px;
    padding: 30px 10px;
  }

  .navLink {
    padding: 5px;
    margin: 10px 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  nav {
    flex-basis: 80px;
    padding: 30px 5px;
  }

  .navLink {
    padding: 5px;
    margin: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
}
